:root {
  --bg_and_main: hsl(206, 15%, 18%);
  --primary: hsl(202, 51%, 69%);
  --secondary: hsl(45, 46%, 95%);
  --inactive: hsla(206, 16%, 18%, 0.12);
  --error: hsl(8, 76%, 55%);
  --done: hsla(95, 68%, 63%, 1);
  --section: hsla(203, 17%, 21%);
  --btn_hover: hsl(202, 8%, 27%);
  --nav_height: 104px;
}